#
# spec file for package configagents (Version VERSION_TEMPLATE)
#
# Copyright (c) 2011 SUSE LINUX Products GmbH, Nuernberg, Germany.
# This file and all modifications and additions to the pristine
# package are under the same license as the package itself.
#
# Please submit bugfixes or comments via http://bugs.opensuse.org/
#


Name:           config_agent-passwd
License:	LGPL-2.1 OR LGPL-3
Group:          System/Management
URL:            https://github.com/yast/yast--
Autoreqprov:    on
Version:        VERSION_TEMPLATE
Release:        0
Summary:        Set of services for basic access to user configuration
Source:         %{name}-%{version}.tar.bz2
Requires:       libconfigagent >= 0.2.0
Requires:       rubygem-ruby-augeas
Requires:       augeas
Requires:       pwdutils

BuildRoot:      %{_tmppath}/%{name}-%{version}-build
BuildRequires:  ruby
BuildRequires:  rubygem-packaging_rake_tasks

# This is for Hudson (build service) to setup the build env correctly
%if 0
BuildRequires:  rubygem-test-unit
BuildRequires:  rubygem-rcov >= 0.9.3.2
%endif

%description
config_agent-passwd - Set of config agents for easier access to user configuration files and scripts.
Authors:
--------
    Jiri Suchomel <jsuchome@suse.cz>
    Josef Reidinger <jreidinger@suse.cz>


%prep
%setup

%build

%check

#---------------------------------------------------------------
%install
rake install[%{buildroot}/,%{rb_vendorlib}]

#---------------------------------------------------------------
%clean
rm -rf $RPM_BUILD_ROOT

#---------------------------------------------------------------
%files 
%defattr(-,root,root)
%doc COPYING COPYING.LESSER
%{rb_vendorlib}/config_agent


#---------------------------------------------------------------
%changelog
