# DBus service activation config
[D-BUS Service]
Name=org.opensuse.systemagents.file.etc_krb5_conf
Exec=/usr/share/systemagents/bin/file_services/krb5_conf_service.rb
User=root
