# DBus service activation config
[D-BUS Service]
Name=org.opensuse.systemagents.script.pam_config
Exec=/usr/share/systemagents/bin/script_services/pam_config.rb
User=root
