# DBus service activation config
[D-BUS Service]
Name=org.opensuse.systemagents.script.usr_sbin_pam_config
Exec=/usr/share/systemagents/bin/script_services/pam_config_service.rb
User=root
