# DBus service activation config
[D-BUS Service]
Name=org.opensuse.config_agent.file.etc_sysconfig_clock
Exec=/usr/share/config_agents/bin/file_services/clock_service.rb
User=root
