# DBus service activation config
[D-BUS Service]
Name=org.opensuse.config_agent.script.usr_bin_setxkbmap
Exec=/usr/share/config_agents/bin/script_services/setxkbmap_service.rb
User=root
