[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=keyboard

X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=keyboard
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=keyboard.rnc
X-SuSE-YaST-Keywords=keyboard

Icon=yast-keyboard
Exec=xdg-su -c "/sbin/yast2 keyboard"

Name=System Keyboard Layout
GenericName=Select the system keyboard
StartupNotify=true
