# DBus service activation config
[D-BUS Service]
Name=org.opensuse.config_agent.script.sbin_pam_config
Exec=/usr/share/config_agent/bin/script_services/pam_config_service.rb
User=root
